%h1 Owing
%ul
	- @jobs.each do |j|
		%li
			= link_to j.ref, finance_path(j.id)
			\-
			= number_to_currency(j.owing.to_s, unit: "&pound; ".html_safe)

%h1 Received
%ul
	- @jobs.each do |j|
		%li
			= link_to j.ref, finance_path(j.id)
			\-
			= number_to_currency(j.received.to_s, unit: "&pound; ".html_safe)
