.pull-right
	= link_to 'New Contact', new_contact_path, :class => "btn btn-default" if is_admin?

%h1 Listing contacts

= will_paginate

%ul.users
	/ Uses the _contact partial!
	= render @contacts

= will_paginate
