.pull-right
	= link_to '<span class="glyphicon glyphicon-plus"></span> New Contact'.html_safe, new_contact_path, :class => "btn btn-default" if is_admin?

%h1 Listing Contacts

= will_paginate

%ul.users
	/ Uses the _contact partial!
	= render @contacts

= will_paginate
