// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.finance { margin-top: 15px;
	li {
		.reference{ display: inline-block; float: left; width: 400px; }
		.paid { display: inline-block; width: 100px; text-align: right; }
		.owing { display: inline-block; width: 100px; text-align: right; }
		.time { display: inline-block; width: 100px; text-align: right; }
		&.total {
			font-weight: bold;
			.paid { color: green; }
			.owing { color: red; }
		}
	}
}
td.paid { color: green; }