// Place all the styles related to the Finances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.finance {
	li {
		.reference{ display: inline-block; float: left; width: 400px; }
		.paid { display: inline-block; width: 100px; }
		.owing { display: inline-block; width: 100px; }
		.time { display: inline-block; width: 100px; }
	}
}
td.paid { color: green; }