// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.job {
	display: inline-block;
	width: 240px;
	height: 180px;
	border: solid 1px black;
	margin: 10px;
	vertical-align: top;
	padding: 15px;
	background: darkslategrey;
	color: wheat;
	cursor: pointer;
	text-align: center;
	h1 { font-size: 18px; }
}

.task-list { width: 25%; min-width: 200px; }
.job-list { width: 73%; min-width: 300px; float: left; }

.panel-heading.hand, .list-group-item.hand { cursor: pointer; }
.panel.job-height { height: 200px; }
.panel-body.job-height { height: 102px; overflow: auto; }

#ui-datepicker-div { display: none; }
.ui-datepicker { background-color: white; border: 1px solid black; padding: 5px;
	.ui-datepicker-next { float: right; }
	.ui-datepicker-title { text-align: center; }
	.ui-state-active { background-color: red; }
}