// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.job {
	display: inline-block;
	width: 240px;
	height: 180px;
	border: solid 1px black;
	margin: 10px;
	vertical-align: top;
	padding: 15px;
	background: darkslategrey;
	color: wheat;
	cursor: pointer;
	text-align: center;
	h1 { font-size: 18px; }
}

.pull-right a.btn { margin-top: 3px; margin-right: 16px; }
.task-list-holder { width: 24%; }
.task-list { min-width: 200px; margin-top: 7px; }
.job-list { min-width: 300px; float: left;
	ul { padding-left: 7px; }
}

/* Notes on job#show page */
table.notes { width: 74%; float: left;
	tbody tr td { padding: 8px 5px;
		&.the-date { width: 125px; }
		&.title { width: 300px; }
		&.type { width: 85px; }
		&.paid { width: 80px; color: green; text-align: right; margin-right: 5px; }
		&.owing { width: 80px; color: red; text-align: right; margin-right: 5px; }
		&.time { width: 60px; text-align: right; }
		&.mileage { width: 60px; text-align: right; }
	}
}

.panel-heading.hand, .list-group-item.hand { cursor: pointer; }
.panel.job-height { height: 200px; }
.panel-body.job-height { height: 102px; overflow: auto; }

#ui-datepicker-div { display: none; }
.ui-datepicker { background-color: white; border: 1px solid black; padding: 5px;
	.ui-datepicker-next { float: right; }
	.ui-datepicker-title { text-align: center; }
	.ui-state-active { background-color: red; }
}

ul.task-list {
	li.task {
		display: inline-block;
		width: 240px;
		height: 180px;
		border: solid 1px black;
		margin: 10px;
		vertical-align: top;
		padding: 15px;
		background: darkslategrey;
		color: wheat;
		text-align: left;
		h2 { font-size: 16px; }
		p.joblink { padding-left: 0px; font-size: 18px; border-bottom: 1px solid #ddd; padding-bottom: 5px; }
		.due-date { float: right; }
	}
}

#myModalCreated.created { float: left; font-size: 11px; }

#all { margin-top: 10px; margin-right: 10px; }
.left-inner-addon {
    position: relative;
    margin-right: 20px;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon .glyphicon {
    position: absolute;
    padding: 18px 12px;
    pointer-events: none;
}